*{
    box-sizing: border-box;
}

body{
    background-color: beige;
}

.container {
    margin: auto;
    margin-top: 60px;
    width: 750px;
}

header{
    background-color: rgb(68, 149, 255);
    height: 250px;
    border: 4px solid black;

}

nav{
    background-color: rgb(26, 173, 26);
    height: 50px;
    border: 4px solid black;
}


main{
    background-color: burlywood;
    height: 400px;
    border: 4px solid black;

}


footer{
    background-color: rgb(228, 175, 1);
    height: 50px;
    border: 4px solid black;

}


#banner{
    width: 500px;
    height: 225px;
    background-color: white;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 70px;
    padding-left: 160px;
}

#logo{
    background-color: white;
    float: left;
    width: 200px;
    margin-top: 10px;
    height: 225px;
    text-align: center;
    padding-top: 70px;
    
}


#articulo{
    width: 450px;
    height: 375px;
    float: left;
    background-color: white;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 170px;
}

#aside{
    width: 260px;
    height: 375px;
    float: left;
    background-color: white;
    text-align: center;
    margin: 10px;
    padding-top: 170px;
}

.container-boton {
    margin: auto;
    margin-top: 40px;
    margin-left: 20%;
    margin-bottom: 5px;

}

.boton {
    color: black;
    background-color: burlywood;
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
}
